.form {
  padding: 15px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  border: 1px solid #f3f6f3;
}

.label {
  display: flex;

  flex-direction: column;
}
.spanLabel {
  font-size: 14px;
  margin-bottom: 8px;
  color: white;
}

.formInput {
  padding: 7px 7px 7px 13px;
  border: 1px solid #020302;
  border-radius: 7px;
  margin-bottom: 25px;
  max-width: 250px;
  outline: none;
  transition: border 0.4s ease, color 0.4s ease;
}

.formInput:is(:hover, :focus) {
  border: 1px solid #335a19fa;
}
.buttonSubmit {
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
  max-width: 120px;
  border: 1px solid #020302;
  border-radius: 7px;
  color: white;
  background-color: #506b3db3;
  outline: none;
  transition: border 0.4s ease;
}

.buttonSubmit:is(:hover, :focus) {
  border: 1px solid #335a19fa;
}
