.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 20px 64px 20px 64px;
  background-color: #193057;
  border-bottom: 1px solid #0a224a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
  margin-bottom: 55px;
}
.main {
  flex-grow: 1;
  padding-left: 64px;
  padding-right: 64px;
}
