.labelFilter {
  font-size: 14px;
  color: white;
}

.inputFilter {
  margin-top: 8px;
  padding: 7px 7px 7px 13px;
  border: 1px solid #020302;
  border-radius: 7px;
  margin-bottom: 25px;
  width: 250px;
  outline: none;
  transition: border 0.3s ease, color 0.3s ease;
}

.inputFilter:is(:hover, :focus) {
  border: 1px solid #335a19fa;
}
