.phoneBookContainer {
  max-width: 400px;
  width: 100%;
  padding: 60px;
  margin: auto;
  border-radius: 12px;
  border: 1px solid #020302;
  background-color: #6b8559b3;
  box-shadow: 2px 5px 11px 3px gray;
}
.contactsContainer {
  padding: 25px 15px 15px 15px;
  border-radius: 9px;
  border: 1px solid #f3f6f3;
}
.phoneBookTitle {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}

.contactsTitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
