.contactsList {
  max-width: 450px;
  margin: 0 auto;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contactName {
  font-size: 18px;
}

.buttonDeleteNumber {
  cursor: pointer;
  font-size: 14px;
  padding: 3px 15px;
  border: 1px solid #0a224a;
  border-radius: 5px;
  color: white;
  background-color: #0a224a;
  transition: border 0.4s ease;
}

.buttonDeleteNumber:is(:hover, :focus) {
  border: 1px solid #020302;
}
